{% extends "demo/base.html" %}

{% block content %}
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    <h1>Dynamic Articles</h1>
    <br>
    <table id="articles" cellspacing="wide">
        <tr><th>ID</th><th>Title</th><th>Body</th></tr>
    </table>
    <b id="notification"</b>
{% endblock content %}

{% block script %}
<script>
function appendArticle(article, index) {
    console.log(article);
    var table = document.getElementById("articles");
    var row = table.insertRow();
    var id_cell = row.insertCell(0)
    var title_cell = row.insertCell(1);
    var text_cell = row.insertCell(2);
    id_cell.innerText = article["pk"]
    title_cell.innerText = article["fields"]["title"];
    text_cell.innerText= article["fields"]["body"];
}

var socket = new WebSocket('ws://' + window.location.host + '/articles/');

socket.onopen = function open() {
    console.log("WebSocket connection created.");
};

socket.onmessage = function message(event) {
    var articles = JSON.parse(event.data);
    articles.forEach(appendArticle)
    document.body.scrollTop = document.body.scrollHeight;
};

socket.onclose = function close() {
    console.log("Websocket connection closed.")
    var notification = document.getElementById("notification");
    notification.innerText = "The websocket was closed. Refresh the page or ask the developer to use the ReconnectingWebSocket class"
};

if (socket.readyState == WebSocket.OPEN) {
    socket.onopen();
}

</script>
{% endblock script %}
