{% extends "demo/base.html" %}
{% load static %}

{% block content %}
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    <h1>Dynamic Articles</h1>
    <br>
    <table id="articles" cellspacing="wide">
        <tr><th>ID</th><th>Title</th><th>Body</th></tr>
    </table>
    <b id="notification"></b>
{% endblock content %}

{% block script %}
<script src="{% static "channels/js/websocketbridge.js" %}"></script>
<script>
    function appendArticle(article, index) {
        console.log(article);
        var table = document.getElementById("articles");
        var row = table.insertRow();
        var id_cell = row.insertCell(0);
        var title_cell = row.insertCell(1);
        var text_cell = row.insertCell(2);
        id_cell.innerText = article["pk"];
        title_cell.innerText = article["fields"]["title"];
        text_cell.innerText= article["fields"]["body"];
    }

    var retry_counter = 0;
    const webSocketBridge = new channels.WebSocketBridge();
    webSocketBridge.connect('/articles');

    webSocketBridge.socket.addEventListener('open', function() {
        console.log("Connected to WebSocket");
        retry_counter = 0;
        var notification = document.getElementById("notification");
        notification.innerText = "";
        var table = document.getElementById("articles");
        // Delete rows in descending order to prevent concurrent updates (appends) from
        // messing ordering, etc.
        for (var i=table.rows.length-1; i>=0; i--) {
            table.deleteRow(i);
        }
    });
    webSocketBridge.socket.addEventListener('close', function() {
        console.log("Websocket connection closed.");
        retry_counter += 1;
        var notification = document.getElementById("notification");
        notification.innerText = "The websocket was closed. Trying to reconnect (attempt " + retry_counter + ")..."
    });
    webSocketBridge.listen(function(articles, stream) {
        articles.forEach(appendArticle);
        document.body.scrollTop = document.body.scrollHeight;
    });

/* The raw websocket alternative implementation (without reconnect):

var socket = new WebSocket('ws://' + window.location.host + '/articles/');

socket.onopen = function open() {
    console.log("WebSocket connection created.");
};

socket.onmessage = function message(event) {
    var articles = JSON.parse(event.data);
    articles.forEach(appendArticle)
    document.body.scrollTop = document.body.scrollHeight;
};

socket.onclose = function close() {
    console.log("Websocket connection closed.")
    var notification = document.getElementById("notification");
    notification.innerText = "The websocket was closed. Refresh the page or ask the developer to use the ReconnectingWebSocket class"
};

if (socket.readyState == WebSocket.OPEN) {
    socket.onopen();
}
*/
</script>
{% endblock script %}
